<h2>{% if post %}Julkaisun muokkaus{% else %}Kommentin muokkaus{% endif %}</h2>

<p>
  <a href="/">Etusivu</a>
</p>

{% if post %}
<form action="/edit_post/{{ post.id }}" method="post">
  <p>
    Otsikko:<br />
    <input type="text" name="title" maxlength="100" value="{{ post.title }}" />
  </p>
  <p>
    Julkaisu:<br />
    <textarea name="content" rows="5" cols="40" maxlength="5000">{{ post.content }}</textarea>
  </p>
  <input type="submit" value="Lähetä" />
</form>
{% else %}
<form action="/edit/{{ comment.id }}" method="post">
  <p>
    Kommentti:<br />
    <textarea name="content" rows="5" cols="40" maxlength="5000">{{ comment.content }}</textarea>
  </p>
  <input type="submit" value="Lähetä" />
</form>
{% endif %}
