<h2>{% if post %}Julkaisun muokkaus{% else %}Kommentin muokkaus{% endif %}</h2>

<p>
  <a href="/">Etusivu</a>
</p>

{% if post %}
<form action="/edit_post/{{ post.id }}" method="post">
  <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
  <p>
    Otsikko:<br />
    <input type="text" name="title" maxlength="100" value="{{ post.title }}" />
  </p>
  <p>
    Julkaisu:<br />
    <textarea name="content" rows="5" cols="40" maxlength="5000">
{{ post.content }}</textarea
    >
  </p>

  {% if all_classes %}
  <h3>Luokitukset</h3>
  {% for class in all_classes %}
  <p>
    <label for="class{{ class }}">{{ class }}</label>: <br />
    <select name="class_{{ class }}" id="class{{ class }}">
      <option value="">(valitse)</option>
      {% for option in all_classes[class] %}
      <option value="{{ option }}" {% if classes[class] == option %}selected{% endif %}>
        {{ option }}
      </option>
      {% endfor %}
    </select>
  </p>
  {% endfor %} {% endif %}

  <input type="submit" value="Lähetä" />
</form>
{% else %}
<form action="/edit/{{ comment.id }}" method="post">
  <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
  <p>
    Kommentti:<br />
    <textarea name="content" rows="5" cols="40" maxlength="5000">
{{ comment.content }}</textarea
    >
  </p>
  <input type="submit" value="Lähetä" />
</form>
{% endif %}
