<!doctype html>
<html>
  <head>
    <title>Julkaisut</title>
  </head>

  <body>
    <p>Julkaisujen määrä: {{ count }}</p>
    <hr />
    {% for post in posts %}
    <p>{{ post.content }}</p>
    <hr />
    {% endfor %}

    <p>
      <a href="/new">Tee julkaisu</a>
    </p>
  </body>
</html>

<!doctype html>
<html>
  <head>
    <title>Kirjautuminen</title>
  </head>

  <body>
    {% if session.username %}
    <p>Olet kirjautunut nimellä {{ session.username }}</p>
    <p>
      <a href="/logout">Kirjaudu ulos</a>
    </p>
    {% else %}
    <form action="/login" method="post">
      <p>
        Tunnus: <br />
        <input type="text" name="username" />
      </p>
      <p>
        Salasana: <br />
        <input type="password" name="password" />
      </p>
      <input type="submit" value="Kirjaudu" />
    </form>
    {% endif %}
  </body>
</html>
