{% extends "layout.html" %}

{% block title %}Julkaisut{% endblock %}

{% block content %}
    {% if not query %}
    <h1>Julkaisut: {{ count }}</h1>
    {% endif %}

    <form action="/" method="get">
      <p>
        Hakusana: {% if query %}
        <input type="text" name="query" value="{{ query }}" />
        {% else %}
        <input type="text" name="query" />
        {% endif %}
      </p>
      <input type="submit" value="Hae" />
    </form>

    <hr />

    {% if query %}
    <h2>Tulokset</h2>
    {% if results %}
    <ul>
      {% for result in results %}
      <li>
        {% if result.type == 'user' %}
        <a href="/user/{{ result.user_id }}">{{ result.username }}</a>
        <br />
        Käyttäjä {% else %}
        <a
          href="/post/{{ result.post_id }}{% if result.comment_id %}#{{ result.comment_id }}{% endif %}"
          >{{ result.post_title }}</a
        >
        {% if result.type == 'comment' %}
        <br />
        Kommentti - <a href="/user/{{ result.user_id }}">{{ result.username }}</a> ({{
        result.sent_at }}) {% else %}
        <br />
        Julkaisu - <a href="/user/{{ result.user_id }}">{{ result.username }}</a>
        {% endif %} {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>Ei tuloksia.</p>
    {% endif %} {% else %} {% for post in posts %}
    <p>
      <a href="/post/{{ post.id }}#{{post.id}}">{{ post.title }}</a>
      <br />
      {{ post.total }} kommentteja
    </p>
    <hr />
    {% endfor %} {% endif %}

    <p>
      <a href="/{{ page - 1 }}">&lt;&lt;</a>
      Sivu {{ page }}/{{ page_count }}
      <a href="/{{ page + 1 }}">&gt;&gt;</a>
    </p>
    <hr />
{% endblock %}
