<!doctype html>
<html>
  <head>
    <title>Julkaisut</title>
  </head>

  <body>
    <h1>Julkaisut</h1>
    <h2>Julkaisujen määrä: {{ count }}</h2>

    <p>
      <a href="/register">Luo tunnus</a> | {% if session.user_id %}<a href="/logout"
        >Kirjaudu ulos</a
      >
      | <a href="/new">Tee uusi julkaisu</a>{% else %}<a href="/login">Kirjaudu sisään</a>{% endif
      %} | <a href="/search">Haku</a>
    </p>

    <hr />
    {% for post in posts %}
    <p>
      <a href="/post/{{ post.id }}">{{ post.title }}</a>
      <br />
      {{ post.total }} viestiä, uusin {{ post.last }}
    </p>
    <hr />
    {% endfor %}
  </body>
</html>
