<!doctype html>
<html>
  <head>
    <title>Julkaisun lähetys</title>
  </head>

  <body>
    <p>
      <a href="/">Etusivu</a>
    </p>
    <h1>Uusi julkaisu:</h1>
    {% if session.user_id %}
    <form action="/send" method="post">
      <p>
        Otsikko: <br />
        <input type="text" name="title" maxlength="100" required />
      </p>
      <p>
        Julkaisu: <br />
        <textarea name="content" rows="5" cols="40" maxlength="5000" required></textarea>
      </p>
      <p>
        <input type="submit" value="Lähetä" />
      </p>
    </form>
    {% endif %}
  </body>
</html>
