<!doctype html>
<html>
  <head>
    <title>Julkaisun lähetys</title>
  </head>

  <body>
    <p>
      <a href="/">Etusivu</a>
    </p>
    <h1>Uusi julkaisu:</h1>
    {% if session.user_id %}
    <form action="/send" method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
      <p>
        Otsikko: <br />
        <input type="text" name="title" maxlength="100" required />
      </p>
      <p>
        Arvio: <br />
        <textarea name="content" rows="5" cols="40" maxlength="5000" required></textarea>
      </p>
      {% if all_classes %}
      {% for class in all_classes %}
      <p>
        <label for="class{{ class }}">{{ class }}</label>: <br />
        <select name="class_{{ class }}" id="class{{ class }}">
          <option value="">(valitse)</option>
          {% for option in all_classes[class] %}
          <option value="{{ option }}">{{ option }}</option>
          {% endfor %}
        </select>
      </p>
      {% endfor %}
      {% endif %}
      <p>
        <input type="submit" value="Lähetä" />
      </p>
    </form>
    {% endif %}
  </body>
</html>
