<!doctype html>
<html>
  <p>
    <a href="/">Etusivu</a>
  </p>
  <head>
    <title>{{ post.title }}</title>
  </head>

  <body>
    <h1>{{ post.title }}</h1>
    <p>{{ post.content }}</p>

    {% if classes %}
    <div class="post-classes">
      <strong>Luokitukset:</strong><br />
      {% for class in classes %}
      <span class="class-tag"> <strong>{{ class.title }}:</strong> {{ class.value }} </span>
      {% endfor %}
    </div>
    {% endif %} {% if post.user_id == session.user_id %}
    <p>
      <a href="/edit_post/{{ post.id }}">Muokkaa</a> |
      <a href="/remove_post/{{ post.id }}">Poista</a>
    </p>
    {% endif %}

    <hr />
    {% for comment in comments %}
    <p id="{{ comment.id }}">
      <a href="/user/{{ comment.user_id }}">{{ comment.username }}</a> {{ comment.sent_at }}
    </p>
    <p>{{ comment.content }}</p>

    {% if comment.user_id == session.user_id %}
    <p>
      <a href="/edit/{{ comment.id }}">Muokkaa</a> |
      <a href="/remove/{{ comment.id }}">Poista</a>
    </p>
    {% endif %}
    <hr />
    {% endfor %} {% if session.user_id %}
    <h2>Uusi kommentti:</h2>

    <form action="/new_comment" method="post">
      <p>
        <textarea name="content" rows="5" cols="40" maxlength="2000"></textarea>
      </p>
      <input type="hidden" name="post_id" value="{{ post.id }}" />
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      <input type="submit" value="Lähetä" />
    </form>
    <hr />
    {% else %}
    <p><a href="/login">Kirjaudu sisään</a> kommentoidaksesi.</p>
    {% endif %}
  </body>
</html>
