<!doctype html>
<html>
  <head>
    <title>{{ post.title }}</title>
  </head>

  <body>
    <h1>{{ post.title }}</h1>
    <p>{{ post.content }}</p>

    <hr />
    {% for comment in comments %}
    <p>{{ comment.username }} {{ comment.sent_at }}:</p>
    <p>{{ comment.content }}</p>
    {% if comment.user_id == session.user_id %}
    <p>
      <a href="/edit/{{ comment.id }}">Muokkaa</a> |
      <a href="/remove/{{ comment.id }}">Poista</a>
    </p>
    {% endif %}
    <hr />
    {% endfor %} {% if session.user_id %}
    <h2>Uusi viesti</h2>

    <form action="/new_comment" method="post">
      <p>
        Viesti:<br />
        <textarea name="content" rows="5" cols="40"></textarea>
      </p>
      <input type="hidden" name="post_id" value="{{ post.id }}" />
      <input type="submit" value="Lähetä" />
    </form>
    <hr />
    {% endif %}
  </body>
</html>
