<p>
  <a href="/">Etusivu</a>
</p>

{% if post %}
<form action="/remove_post/{{ post.id }}" method="post">
  <p>Haluatko varmasti poistaa julkaisun?</p>
  <input type="submit" name="continue" value="Jatka" />
  <input type="submit" name="cancel" value="Peruuta" />
</form>
{% else %}
<form action="/remove/{{ comment.id }}" method="post">
  <p>Haluatko varmasti poistaa kommentin?</p>
  <input type="submit" name="continue" value="Jatka" />
  <input type="submit" name="cancel" value="Peruuta" />
</form>
{% endif %}
